<script src="/plugins/<%=plugin.name%>/vs/loader.js"></script>
<script src="/plugins/<%=plugin.name%>/monaco-namu.js"></script>
<style>
    #thetree-monaco-area {
        height: 30rem;
        width: 100%;
        --vscode-editorCodeLens-lineHeight: 16px;
        --vscode-editorCodeLens-fontSize: 12px;
        --vscode-editorCodeLens-fontFeatureSettings: "liga" off, "calt" off;
    }
</style>
<div id="thetree-monaco-area"></div>